.DS_Store
.env
.env.*
!.env.example
*.session
*.session-journal
*.log

.idea/
.vscode/

node_modules/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/

coverage/
dist/
build/

.scratch/
